@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
  margin: 5vh 5vw;
  background: #141531;
  color: white;
  font-family: poppins;
}
.grid-container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
    'main1 main1'
    'main2 main2'
    'main3 main3';
}


.map {
    grid-area: main1;
}
.weer {
    grid-area: main2;
}

.nieuws {
  grid-area: main3;
}

#titel {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      margin-top: 15px;
      max-width: 70%;
}

#map {
  height: 60vh;
  width: 90vw;
}

 #weer {
  padding-left: 20px;
  margin-top: 20px;
  background-color: #483D8B;
  height: 20vh;
  width: 87vw;
  padding-top: 10px;
  font-size: 18px;
}
#nieuws {
 padding-left: 20px;
 margin-top: 20px;
 background-color: #483D8B;
 height: 20vh;
 width: 87vw;
 padding-top: 10px;
 font-size: 14px;
}


@media (min-width: 768px) {
.grid-container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
    'main1 main2'
    'main1 main3';
}
#map {
  height: 75vh;
  width: 50vw;
}

#weer {
  height: 33vh;
  width: 35vw;
  margin-left: 40px;
  margin-top: 35px;
}
#nieuws {
  height: 33vh;
  width: 35vw;
  margin-left: 40px;
  margin-top: -240px;
}
}

@media (min-width: 1280px) {
  .grid-container {
      display: grid;
      grid-template-columns: 2fr;
      grid-template-areas:
      'main1 main1'
      'main2 main3';
  }

#map {
  width: 80vw;
  margin-left: 80px;
  height: 60vh;
}

#weer {
  margin-left: 80px;
  margin-top: 40px;
  width: 30vw;
}

 #nieuws {
  margin-top: 40px;
  margin-left: -650px;
  width: 44vw;
}

#geocoder {
  margin-left: 80px;
}
}
@media (min-width: 1920px) {
  .grid-container {
      display: grid;
      grid-template-columns: 3fr;
      grid-template-areas:
      'main1 main2 main3';
  }
 #map {
  height: 70vh;
  width: 40vw;
  margin-left: 40px;
}

#weer {
  height: 69vh;
  width: 20vw;
  margin-right: 900px;
}

 #nieuws {
  height: 69vh;
  margin-left: -850px;
  width: 20vw;
}

#geocoder {
  margin-left: 40px;
}
}
